.form {
    padding: 20px;
    display: flex;
}

@media(max-width: 991px) {
    .form {
        flex-wrap: wrap;
    }
}

.form__input {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid rgb(222, 216, 216);
    padding: 15px;
}

@media(max-width: 991px) {
    .form__input {
        flex-basis: 990px;
        margin: 10px 0;
    }
}

.form__submit {
    border: none;
    background-color: teal;
    color: white;
    padding: 15px;
}

@media(max-width: 991px) {
    .form__submit {
        flex-grow: 1;
    }
}

.form__submit:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__submit:active {
    background-color: hsl(180, 100%, 40%);
}