.form {
    padding: 20px;
    display: flex;
}

.form__input {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid rgb(222, 216, 216);
}

.form__submit {
    border: none;
    background-color: teal;
    color: white;
    padding: 15px;
}

.form__submit:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__submit:active {
    background-color: hsl(180, 100%, 40%);
}